$(document).ready(function(){

  $.vegas({src:"<%=asset_path 'Attentus_web_Background 1024.jpg'%>"}); 

  $.scrollUp({
      scrollName: 'scrollUp', // Element ID
      scrollDistance: 300, // Distance from top/bottom before showing element (px)
      scrollFrom: 'top', // 'top' or 'bottom'
      scrollSpeed: 300, // Speed back to top (ms)
      easingType: 'linear', // Scroll to top easing (see http://easings.net/)
      animation: 'fade', // Fade, slide, none
      animationInSpeed: 200, // Animation in speed (ms)
      animationOutSpeed: 200, // Animation out speed (ms)
      scrollImg: true, // Set true to use image
      activeOverlay: false, // Set CSS color to display scrollUp active point, e.g '#00FFFF'
      zIndex: 2147483647, // Z-Index for the overlay
  });

  $('#scrollUp').click(function(){
    $('#nav a').first().click()
    return false
  })

  // Scroll function
  $("#wrapper").scroll(function() {
    var scrollTop = $('#wrapper').scrollTop()
    if(( scrollTop > 300) && ($('#scrollUp').is(':hidden')))
      $('#scrollUp').show('slow')
    else if(( scrollTop < 300) &&  ($('#scrollUp').is(':visible')))
      $('#scrollUp').hide('slow')
  })


  $('#header .burger').click(function(){
    if($('body').css('width').replace('px','')<1200)
      $('#header #nav').toggle('slow')
  })

  $('#header #nav li a').click(function(){

    if($('#header').css('position') == 'fixed')
      var new_top = $($(this).attr('href')).position().top - $('#header').height()
    else
      var new_top = $($(this).attr('href')).position().top - 125

    $('#wrapper').animate({
        scrollTop: new_top
    }, 1000);
    $('#header .burger').click()
    return false;
  });

  $(window).resize(function(){
    initSameHeight();
    $.vegas({src:"<%=asset_path 'Attentus_web_Background 1024.jpg'%>"}); 
    if($('body').css('width').replace('px','') >= 1200)
      $('#header #nav').show()
  })

  // Listen for orientation changes
  window.addEventListener("orientationchange", function() {
    // Announce the new orientation number
    $.vegas({src:"<%=asset_path 'Attentus_web_Background 1024.jpg'%>"}); 
  }, false);

    var link = $("[href="+document.location.hash+"]")
    if(link.length > 0)
    {
      if($('body').css('width').replace('px','')>=1200)
      {
        setTimeout(function() {
           if (location.hash) {
             window.scrollTo(0, 0);
           }
        }, 1);
        link.click()
      }
    }

})
