<div id="analysisModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>AUDITS AND ANALYSIS</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Basic assessment provides useful information on current situation in various Human Resource issues.</li>
        <li>We have executed extensive Human Resource & Cultural Due Diligences related to business buying and selling, stock registration and merges and acquisitions.</li>
        <li>We have performed more than 50 external evolutions on preschool, compulsory school and upper secondary school activities for The Icelandic Ministry of Education, Science and Culture.</li>
        <li>We carry out employee surveys tailored to your business.  In five years we have build a   solid data base that makes it possible to compare the attitudes of thousand of employees e.g. by branches.</li>
        <li>We suggest improvements when needed. We assist in creating action plans and implementing changes based on assessments.</li>
        <li>We prepare results in clear and understandable ways.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
