<div id="analysisModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Úttektir og greiningar</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Einföld úttekt gefur gagnlegar upplýsingar um stöðuna á ýmsum sviðum mannauðsmála.</li>
        <li>Við höfum annast umfangsmiklar áreiðanleikakannanir (Human Resource & Cultural Due Diligence) í tengslum við kaup og sölu, við skráningu á markað og í tengslum við samruna og yfirtökur.</li>
        <li>Við höfum framkvæmt yfir 50 úttektir fyrir mennta- og menningarmálaráðuneytið á leikskólum, grunnskólum og framhaldsskólum.</li>
        <li>Viðhorfskannanir sníðum við að óskum og þörfum hverju sinni. Við höfum byggt upp öflugan gagnagrunn s.l. 5 ár sem gerir okkur einnig kleift að bera saman viðhorf þúsunda starfsmanna m.a. eftir starfsgreinum.</li>
        <li>Ráðgjafar Attentus koma með tillögur til úrbóta ef óskað er. Við aðstoðum við gerð aðgerðaáætlana og við innleiðingu breytinga í kjölfar greiningar</li>
        <li>Við leggjum áherslu á að setja niðurstöður fram á einfaldan og skýran hátt.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
