<div id="forHireModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

 <div class="modal-header">
     <button class="close" data-dismiss="modal">x</button>
     <h3>Mannauðsstjóri til leigu</h3>
   </div>

 <div class="modal-body">
     <p>
       <ul>
          <li>Þjónustan felur í sér aðgang að reynslumiklum hópi ráðgjafa sem veita stuðning og aðstoð á öllum sviðum mannauðsstjórnunar.</li>
          <li>Við leggjum til fagþekkingu, verkfæri og starfskrafta til að sinna stuðningi og stefnumótun, skipulagi, undirbúningi og framkvæmd verkefna á þessu sviði.</li>
          <li>Aðgangur að reynslumikilli mannauðsdeild með mikla faglega breidd en umfang og kostnaður er í samræmi við þarfir og stærð fyrirtækisins.</li>
          <li>Náið     samstarf við stjórnendur, eftirfylgni við innleiðingu og bein tenging allra aðgerða við rekstrarleg markmið.</li>
          <li>Þjónustan hentar vel stórum, meðalstórum og smærri fyrirtækjum og stofnunum, fyrirtækjum í vexti og ekki síst á tímum breytinga.</li>
          <li>Fyrirtæki sem hafa valið þessa leið hafa     náð auknum árangri í stjórnun mannauðsmála og betri rekstrarniðurstöðu með lægri tilkostnaði.</li>
        </ul>

       <blockquote>
          <q style="color:#f47e2e" >Mannauðsstjóri til leigu hefur reynst okkur mikill stuðningur við það umbreytingaferli sem Vífilfell er að ganga í gegnum.  Með samningi við Attentus höfum við fengið inn í fyrirtækið sérfræðiþekkingu á mörgum sviðum mannauðsstjórnunar sem hefði annars kostað félagið umfangsmikla mannauðsdeild með mun meiri kostnaði.</q>
        <br/>
          <cite>Árni Stefánsson,  í stjórn Vífilfells</cite>
        </blockquote>
     </p>
   </div>
 <div class="modal-footer">
       <a href="#" class="btn" data-dismiss="modal">Close</a>
   </div>
</div>
