<div id="forHireModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>OUTSOURCED HR SERVICE</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>We provide access to a group of consultants, highly qualified and experienced in various fields of HR management. We offer creative but cost-effective solutions, tailored to the needs of your business.</li>
        <li>We provide the professional knowledge and tools needed to work on strategy, planning, preparation and execution of different HR projects and processes.</li>
        <li>We work in cooperation with your managers all the way and link every process directly with business operational objectives.</li>
        <li>Whether you are looking for project-based HR, a virtual HR department or ad-hoc support, our aim is always to make your goals become achievable.</li>
        <li>Businesses that have chosen our services have experienced more efficiency in HR management and better operational results in general.</li>
      </ul>

      <blockquote>
        <q style="color:#f47e2e" >Attentus outsourced HR services have supported Vífilfell in managing the company’s current changes. Attentus consultants have brought into Vifilfell their broad HR expertise.  Otherwise Vífilfell would have needed a large HR department with considerably higher cost.</q>
        <br/>
        <cite>Árni Stefánsson, Board Member for Vifilfell</cite>
      </blockquote>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
