<div id="serviceModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>CONSULTANCY SERVICES</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Among the diverse range of HR services we offer are performance management and appraisals, recruitment and selection, orientation programs, retirement, equality matters and more.</li>
        <li>Legal services: Labor Law, Company Law, Industrial Relations, Contracts and obligations, Employment Contracts.</li>
        <li>We offer management consultancy on strategy planning, organizational design and structure, change management and implementation, goal setting, action plans, job descriptions, responsibility, management development, business measurements etc.</li>
        <li>In our training and development consultancy we focus on cooperation with managers and employees, various solutions, follow - up in the implementation phase and aligning the action plans to your business strategy.</li>
        <li>nternal communications – Consultancy on organizing inner communication, communication analysis, choice of communication channels, communication and meeting culture, communication strategy, rules for effective communication, communication skills, decision making, conflict resolution etc.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
