<div id="serviceModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Ráðgjöf og þjónusta</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Mannauðsráðgjöf varðandi stefnumótun í mannauðsmálum, starfs- og hæfnilýsingar, móttöku og þjálfun nýrra starfsmanna, starfsþróun, starfsfóstrun, starfshvatningu, frammistöðumat og árangur, ráðningar og starfslok, starfsmannasamtöl, handbækur og vinnureglur, eineltismál, jafnréttismál, jafnlaunavottun, fjarvistastjórnun o.fl. </li>
        <li>Lögfræðiráðgjöf á sviði vinnuréttar, félagaréttar, samningaréttar, starfskjara og kjarasamninga, hæfnimat, ráðninga- og starfslokasamningar, áminningar og uppsagnir o.fl.</li>
        <li>Stjórnunarráðgjöf varðandi stefnumótun, stjórnskipulag, innleiðingu breytinga, markmiðssetningu, áætlanir, verkaskiptingu, ábyrgð, þjálfun stjórnenda, árangursmælingar o.fl. </li>
        <li>Fræðsla og starfsþróun - Ráðgjöf þar sem lögð er áhersla á samstarf við stjórnendur og starfsmenn, fjölbreyttar lausnir, eftirfylgni við innleiðingu og beina tengingu aðgerða við rekstrarleg markmið.</li>
        <li>Innri samskipti – Ráðgjöf um skipulag innri samskipta og áherslur, samskiptagreining, val og notkun á boðleiðum, samskipta- og fundamenning, mótun samskiptastefnu, samskiptareglur, samskiptahæfni, ákvarðanataka, lausn ágreiningsmála o.fl.</li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
