<div id="sigridurModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigríður Þorgeirsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigríður Þorgeirsdóttir<br/>
    Ráðgjafi<br/>
    Sími 896 7300 <br/>
    sigridur@attentus.is
    </p>
    <p>Sigríður lauk lagaprófi frá Háskóla Íslands, MBA námi frá West Virginia University, AMP frá IESE Business School og stjórnendamarkþjálfun (e.Executive Coaching) frá Opna Háskólanum í Reykjavík og Coach University. Hún hefur víðtæka reynslu af mannauðsmálum, stjórnun og rekstri.</p>
    <p>Sigríður starfaði hjá LOGOS lögmannsþjónustu á árunum 2002 til 2014, fyrst sem skrifstofu- og starfsmannastjóri og síðar sem framkvæmdastjóri rekstrarsviðs.  Áður starfaði hún sem skrifstofu- og starfsmannastjóri hjá Aubrey Daniels International í Atlanta í Bandaríkjunum.  Sigríður situr í stjórn Gámaþjónustunnar.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
