<%= render partial: 'staff_arndis_is' %>
<%= render partial: 'staff_arny_is' %>
<%= render partial: 'staff_aslaug_is' %>
<%= render partial: 'staff_gudridur_is' %>
<%= render partial: 'staff_inga_is' %>
<%= render partial: 'staff_ingunn_is' %>
<%= render partial: 'staff_sigrun_is' %>
<%= render partial: 'staff_sirra_is' %>
