<div id="berglindModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Berglind Björk Hreinsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Ráðgjafi<br/>
    Sími 891 6990 <br/>
    berglind@attentus.is
    </p>
    <p>Berglind Björk lauk MPM námi í verkefnastjórnun frá Háskóla Íslands, hefur IPMA vottun á C stigi og er vottaður Scrum master. Hún hefur BA gráðu í sálfræði og félagsráðgjöf frá sama skóla, diplomu í mannauðsstjórnun frá Endurmenntun Háskóla Íslands og er að ljúka námi í straumlínustjórnun frá Opna háskólanum í Reykjavík. Hún hefur góða þekkingu og reynslu af verkefnastjórnun, gæðastjórnun, straumlínustjórnun, launa- og kjaramálum  og  aðferðafræði kannana og gagnasöfnun. </p>
    <p>Berglind Björk starfaði hjá Hagstofu Íslands 2005 til 2014, fyrst sem sérfræðingur í launa og kjaramáladeild og frá 2006 sem deildarstjóri gagnasöfnunar. Áður starfaði hún sem sérfræðingur í launarannsóknum hjá Kjararannsóknanefnd.  Berglind Björk situr í stjórn faghóps um verkefnastjórnun hjá Stjórnvísi.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
