<div id="ingunnModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Ingunn Björk Vilhjálmsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Ingunn Björk Vilhjálmsdóttir<br />
    Ráðgjafi og eigandi<br />
    Sími 8999163<br />
    ingunn@attentus.is<br />
    </p>
    <p>Ingunn lauk MBA gráðu frá Háskólanum í Reykjavík og BA gráðu frá Háskóla Íslands í atvinnufélagsfræði. Hún hefur sinnt verkefnum í stefnumótun, áætlanagerð, stjórnun, samruna, breytingastjórnun, hagræðingu, vali á mannauðs og launakerfum, kjarasamningum og úttektum og sjálfsmati stofnana.</p>
    <p>Ingunn starfaði hjá Eimskip 1998-2006 í fræðslu og starfsþróunarmálum og var framkvæmdastjóri starfsþróunarsviðs samstæðunnar og tók þátt í stefnumótum mannauðsmála fyrir hana og dótturfyrirtæki hennar. Hún situr í stjórn Icelandic Group og Öryggismiðstöðvar Íslands og sat í Velferða- og menntaráði Reykjavíkurborgar. Ingunn hefur annast stundakennslu á sviði mannauðs- og breytingastjórnunar við Háskólann í Reykjavík, Háskóla Íslands og Tækniskólann. Ingunn er annar höfundur bókarinnar Starfsánægja.ss</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
