<div id="ingaModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Inga Björg Hjaltadóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Inga Björg Hjaltadóttir <br />
    Ráðgjafi og eigandi<br />
    Sími 863 8804<br />
    inga@attentus.is
    </p>
    <p>Inga Björg lauk lagaprófi frá Háskóla Íslands og hefur héraðsdómslögmannsréttindi. Hún hefur unnið að ráðgjöf á sviði vinnuréttar, s.s. gerð kjarasamninga, vegna áminninga, uppsagna og starfsloka auk stjórnendaþjálfunar, stefnumótununar, launa- og jafnlaunagreiningar og jafnréttisáætlana. </p>
    <p>Sem lögmaður og meðeigandi hjá Acta lögmannsstofu - http://www.acta.is, hefur Inga sinnt verkefnum m.a. á sviði vinnuréttar, félagaréttar, kröfuréttar, stjórnsýsluréttar og samkeppnisréttar. Hún starfaði hjá starfsmannaþjónustu Reykjavíkurborgar 1996-1999, síðasta árið sem staðgengill starfsmannastjóra og sem deildarstjóri kjaraþróunar Eimskips 1999-2003. Inga hefur setið í stjórn Límtrés Vírnets hf. og E-Farice ehf. Hún er í stjórn MP banka hf, er í starfskjaranefnd bankans, situr í Endurskoðunarnefnd Reykjavíkurborgar og er dómari í Félagsdómi, tilnefnd af fjármálaráðherra. Inga hefur annast stundakennslu á sínu sérsviði við Háskólann í Reykjavík og Háskólann á  Bifröst. </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
