<div id="sigrunModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigrún Þorleifsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigrún Þorleifsdóttir<br />
    Ráðgjafi og eigandi<br />
    Sími: 899 6066<br />
    sigrun@attentus.is
    </p>
    <p>Sigrún hefur MS gráðu í stjórnun og stefnumótun frá Háskóla Íslands og  BS. gráðu í viðskiptafræði frá Háskólanum á Bifröst. Hún lauk námi í stjórnendamarkþjálfun (e. Executive Coaching) frá Opna Háskólanum í Reykjavík og Coach University og hefur alþjóðlega ACC vottun frá International Coach Federation. Hún hefur víðtæka reynslu af stjórnun og rekstri í alþjóðlegum fyrirtækjum, stefnumótun, áætlanagerð, markmiðssetningu, árangursmælingum, breytingastjórnun, markaðs- og þróunarmálum, ráðgjöf, lóðsun, fræðslu og þjálfun stjórnenda og starfsmanna með aðferðum markþjálfunar.</p>
    <p>Sigrún starfaði sem stjórnandi í nær 20 ár hjá Eimskip, SH/Icelandic og víðar. Sigrún var einn af stofnendum Vendum ehf. - stjórnendaþjálfunar og starfaði þar frá 2010-2012. Sigrún hefur setið í ýmsum stjórnum félagasamtaka og fyrirtækja. Hún kennir leiðtogafræði í MBA námi Háskóla Íslands og hefur sérhæft sig í samskiptum innan fyrirtækja (Organizational Communication).</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
