<%= render partial: 'staff_arndis_en' %>
<%= render partial: 'staff_arny_en' %>
<%= render partial: 'staff_aslaug_en' %>
<%= render partial: 'staff_gudridur_en' %>
<%= render partial: 'staff_inga_en' %>
<%= render partial: 'staff_ingunn_en' %>
<%= render partial: 'staff_sigrun_en' %>
<%= render partial: 'staff_sirra_en' %>
