<div id="sigrunModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigrún Þorleifsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigrún Þorleifsdóttir<br />
    Consultant and Partner<br />
    Tel: 354 899 6066<br />
    sigrun@attentus.is
    </p>
    <p>Sigrún completed her M.S. degree in Strategic Management from the University of Iceland, a B.S. degree in Business Administration from Bifröst University and Executive Coaching from Reykjavík University and Coach University. She holds an international ACC certification from the International Coach Federation. Sigrún consults on management and operations of international companies, strategic planning, goal setting, policy-making, performance measurement, change management, communication between management and employees, marketing, training and development of managers and employees with the methods of coaching.</p>
    <p>Sigrún worked as a manager for 20 years at the Icelandic Steamship Company Ltd., SH/Icelandic and more. Sigrún was one of the founders of Vendum – management training and worked there from 2010 – 2012. She has been a board member for various organizations and companies. Sigrún teaches leadership in the MBA program at the University of Iceland focusing on Organizational Communication.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
