<div id="arnyModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Árný Elíasdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Árný Elíasdóttir<br/>
    Ráðgjafi og eigandi<br/>
    Sími 864 4452<br/>
    arny@attentus.is
    </p>
    <p>Árný lauk MA gráðu frá San Diego State University, námi í félagsuppeldisfræði frá Oslo Lærerskole og B.Ed. gráðu frá Kennaraháskóla Íslands. Hún hefur unnið að hæfnis- og starfslýsingum, þarfagreiningu og skipulagi fræðslu, móttöku nýliða, starfsmannastefnu, stjórnendaþjálfun, starfsmannasamtölum og sjálfsmati og úttektum á starfsemi stofnana.</p>
    <p>Árný var fræðslustjóri Eimskips 1998 - 2004, ritstjóri hjá Námsgagnastofnun 1990 – 1998 og grunnskólakennari 1975 – 1990. Hún hefur setið í stjórn fræðslu og starfsþróunarhóps Stjórnvísi og var formaður Gamma, félags kvenna í fræðslustörfum. Árný hefur annast stundakennslu á sviði mannauðsstjórnunar við Háskóla Íslands og Tækniskólann.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
