<div id="sigridurModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigríður Þorgeirsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigríður Þorgeirsdóttir<br/>
    Consultant<br/>
    Tel: 354 896 7300<br/>
    sigridur@attentus.is
    </p>
    <p>Sigridur holds a law degree from University of Iceland, MBA from West Virginia University, AMP from IESE Business School and Executive Coaching from Reykjavik University and Coach University. She is experienced in HR management, Management and Operations.</p>
    <p>Sigridur worked at LOGOS legal services for 12 years, first as Office- and HR Manager and later as Director of Operations.  Before she worked at Aubrey Daniels International as Office- and HR Manager.  Sigridur is a Board Member at Gamathjonustan.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
