<div id="berglindModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Berglind Björk Hreinsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>Consultant<br/>
    Tel +354 891 6990<br/>
    berglind@attentus.is</p>
    <p>Berglind Björk holds MPM degree in Project Management from University of Iceland, is IPMA certified C level Project Manager and certified Scrum Master. She has B.A degree in Psychology and Social Work from University of Iceland and diploma degree in Human Resource Management from Continuing Education at University of Iceland. At the moment she is completing course in Lean Management at Executive Education and Continuous Learning at Reykjavik University. Berglind Björk has good knowledge and experience in project management, quality management, lean management and in methodology of surveys and data collection.</p>
    <p>Berglind Björk worked at Statistics Iceland from 2005 until 2014, first as expert in wage statistics, from 2006 as a head of survey division. Before her work as expert in wage statistics at the statistical office she worked as expert in wage statistics at Institute of Labour Market Research.
Berglind Björk is a member of board in the professional group for Project Management at Stjórnvísi.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
