<div id="ingunnModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Ingunn Björk Vilhjálmsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Ingunn Björk Vilhjálmsdóttir<br />
    Consultant and Partner<br />
    Tel: 354 899 9163<br />
    ingunn@attentus.is<br />
    </p>
    <p>Ingunn holds an MBA from Reykjavík University and a BA in work sociology from the University of Iceland. Her expertise is strategic planning, change management, merges and acquisitions, HR strategies, leadership training, HR outsourcing, collective bargaining, HR information systems, HR Due Diligence and audits.</p>
    <p>Ingunn worked in Human Resources for the Icelandic Steamship Company Ltd. from 1998-2006, was the HR Executive Vice President and participated in strategy planning for the company and its subsidiaries. She serves as a board member for Icelandic Group and Öryggismiðstöð íslands and was a member of the board of the City of Reykjavík Education and Welfare Councils. Ingunn has taught HR management and Change Management at Reykjavík University, the University of Iceland and Tækniskólinn.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
