<div id="ingaModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Inga Björg Hjaltadóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Inga Björg Hjaltadóttir <br />
    Consultant and Partner <br />
    Tel: 354 863 8804 <br />
    inga@attentus.is
    </p>
    <p>Inga holds a law degree from the University of Iceland and is a district attorney. She has consulted in the field of labor law, such as collective bargaining, reprimanding, dismissals and retirement, management training, policy formation, salary analysis and consultation regarding wage concerns, analysis of equal pay, formulation of equality plans, work procedures and instruction manuals.  As an attorney at Acta (www.acta.is) Inga has handled various projects in the field of labor law, company law, law of obligations, administrative law and competition courts. </p>
    <p>Inga worked in the HR department for the city of Reykjavík from 1996 – 1999, the last year she served as a substitute for the HR managers. She was a department manager in the labor/wage development at the Icelandic Steamship Company Ltd. from 1999 – 2003.  From 2003 she has worked as an attorney. Inga has served on the boards of Límtré, Vírnet and E- Farice. She is a Board Member for MP bank and sits on the banks pay conditions committee. She is also a member of the  City of Reykjavik auditcomittee and serves as a judge of the labor court, appointed by the Minister of Finance. Inga has lectured on law releted issues and HR management at Reykjavík University and the University of Bifröst.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
