<div id="sirraModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigríður Guðmundsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigríður Guðmundsdóttir<br/>
    Ráðgjafi<br/>
    Sími 787 9700<br/>
    sirra@attentus.is
    </p>
    <p>Sigríður lauk námi í stjórnendamarkþjálfun (Executive Coaching) frá Háskólanum í Reykjavík, hefur diplómu í fræðslustarfi og stjórnun frá Háskóla Íslands og B.Ed próf frá Háskólanum á Akureyri.</p>
    <p>Hún hefur víðtæka reynslu af mannauðsmálum,  var starfsmannastjóri LNS Saga og vann í níu ár sem verkefnastjóri í mannauðsdeild Eimskips. Sigríður hefur einnig starfað sem  grunnskólakennari.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>