<div id="gudridurModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Guðríður Sigurðardóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Guðríður Sigurðardóttir<br/>
    Consultant and Partner <br/>
    Tel: 354 868 2627 <br/>
    gurry@attentus.is
    </p>
    <p>Guðríður completed a MA in Leadership and Organizational Coaching from EADA Business School and a BA degree in Spanish and Media and Communications Studies from the University of Iceland, a degree in HR Management from the Continuing Education program at the University of Iceland and Executive Coaching from Reykjavík University and Coach University. Guðríður holds an international ACC certification from the International Coach Federation. She has experience with strategic planning, the development of coordinated HR processes, management training, development of HR handbooks, training and development, performance reviews, internal marketing, change management, and mergers and acquisitions.</p>
    <p>Guðríður was an HR manager at Penninn 2007 – 2011 and for ANZA 2001 – 2007. She has served as a representative for the Confederation of Icelandic Employers on the board of the trade council for office and trade sector. Guðríður is an alternate on the board for the pension fund Íslif. Chairman of the Board in Educational Fund for Mothers and Families in Need.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
