<div id="sirraModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Sigríður Guðmundsdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Sigríður Guðmundsdóttir<br/>
    Consultant<br/>
    Tel: +354 787 9700<br/>
    sirra@attentus.is
    </p>
    <p>Sigríður graduated from the Executive Coaching program at the University of Reykjavík, holds a diploma in training and management from the University of Iceland and B.Ed degree from the University of Akureyri.</p>
    <p>She has extensive experience in human resource management and previously was an HR manager at LNS Saga and project manager in the human resources department at the Icelandic Steamship Company Ltd. Sigríður has also taught in elementary school.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>