<div id="arnyModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Árný Elíasdóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Árný Elíasdóttir<br/>
    Consultant and Partner<br/>
    Tel 354 864 445<br/>
    arny@attentus.is
    </p>
    <p>Árný earned her MA in Educational Technology at San Diego State University, studied Social Pedagogy in Oslo’s University College of Education and got her B.Ed. from the Iceland University of Education.  She consults on competencies identifications and job descriptions, training needs assessments, onboarding, HR strategies, management development and school audits and evaluations.</p>
    <p>Árný was a Training Manager at the Icelandic Steamship Company Ltd. 1998 – 2004, editor for educational materials in the Icelandic National Centre for Educational Materials 1990 – 1998 and compulsory schoolteacher 1975 – 1990. She has sat on various boards for organizations and was Chapter President for Gamma, a member of the International Society for Key Women Educators. Árný has lectured on HR Management at the University of Iceland and Tækniskólinn.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
