<div id="gudridurModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Guðríður Sigurðardóttir</h3>
  </div>

  <div class="modal-body">
    <p>
    Guðríður Sigurðardóttir<br/>
    Ráðgjafi og eigandi<br/>
    Sími: 868 2627<br/>
    gurry@attentus.is
    </p>
    <p>Guðríður lauk MA gráðu í forystu og breytingastjórnun frá EADA Business School og BA gráðu frá Háskóla Íslands í spænsku og fjölmiðlafræði, námi í starfsmannastjórnun frá Endurmenntun HÍ og stjórnendamarkþjálfun (e. Executive Coaching) frá Opna Háskólanum í Reykjavík og Coach University. Hún hefur  alþjóðlega ACC vottun frá International Coach Federation. Guðríður hefur sinnt stefnumótun, breytingastjórnun, samruna fyrirtækja, hagræðingu, mótun samræmdra ferla í mannauðsmálum og eftirfylgni þeirra, stjórnendaþjálfun, gerð starfsmannahandbóka, fræðslumálum, starfsmannasamtölum og innri markaðssetningu.</p>
    <p>Guðríður var starfsmannastjóri Pennans 2007-2011 og sat í framkvæmdastjórn hans. Hún var starfsmannastjóri hjá upplýsingatæknifyrirtækinu ANZA frá 2001-2007. Guðríður er varamaður í stjórn lífeyrissjóðsins Íslífs, stjórnarformaður Menntunarsjóðs Mæðrastyrksnefndar og var fulltrúi Samtaka atvinnulífsins í stjórn Starfsgreinaráðs skrifstofu- og verslunargreina.</p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
