<div id="trainingModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>Fræðsla og þjálfun</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Greining hæfni og fræðsluþarfa miðar að því að finna leiðir til að bæta frammistöðu og árangur með fræðslu, þjálfun eða öðrum lausnum. Í kjölfar greiningar er gerð ítarleg þjálfunaráætlun.</li>
        <li>Við veitum ráðgjöf um fræðslu og fræðsluefni.  Sem dæmi má nefna námskeið, starfsfóstrun, rafrænt efni, s.s. snjallsímar og spjaldtölvur.</li>
        <li>Við bjóðum fjölbreytt úrval námskeiða fyrir stjórnendur og starfsmenn. Lögð er áhersla á hagnýta þekkingu, skilvirkni og árangur.  <a href="<%=@feed_host%>?page_id=37">Hér er að finna yfirlit yfir námskeið í boði</a>.</li>
        <li>Við bjóðum einkaþjálfun (Executive Coaching) fyrir stjórnendur og sérfræðinga. Þjálfunin byggir á aðferðum markþjálfunar.</li>
        <li>Við aðstoðum teymi (Team Coaching) sem takast á við átaks- og breytingaverkefni og vilja ná góðum árangri hratt og örugglega.</li>
      </ul>

      <blockquote>
        <q  style="color:#f47e2e" >Við hjá Nordic Visitor getum hiklaust mælt með samstarfi við Attentus í mannauðsmálum.</q>
        <br/>
        <cite>Ásberg Jónsson, framkvæmdastjóri Nordic Visitor</cite>
      </blockquote>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
