<div id="trainingModal" class="modal fade" style="z-index: 20000;"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button class="close" data-dismiss="modal">x</button>
    <h3>TRAINING AND DEVELOPMENT</h3>
  </div>

  <div class="modal-body">
    <p>
      <ul>
        <li>Competency identification and training needs analysis (TNA) aims at improving your business performance and results with training or other solutions. TNA gives a solid input for strategic training plans.</li>
        <li>We consult on training and training materials such as workshops, mentoring and mobile learning (i.g. smartphones and tablet computers.)</li>
        <li>We provide various workshops for both managers and employees. We focus on practical knowledge, efficiency and results. </li>
        <li>We offer certified Executive Coaching for managers and experts.</li>
        <li>We provide Team Coaching for teams who want to produce efficient results in organizational changes and efforts. </li>
      </ul>

      <blockquote>
        <q  style="color:#f47e2e" >We, at Nordic Visitor , sincerely recommend Attentus HR services .</q>
        <br/>
        <cite>Ásberg Jónsson, Managing Director – Nordic Visitor</cite>
      </blockquote>
    </p>
  </div>
  <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
