<% content_for :modals do %>
<!-- Modals -->
<%= render partial: 'for_hire_en' %>
<%= render partial: 'service_en' %>
<%= render partial: 'training_en' %>
<%= render partial: 'analysis_en' %>
<%= render partial: 'staff_en' %>
<% end %>
<!-- Front page content -->
<div id="wrapper">
  <div class="w1">
    <div class="w2">
      <div class="w3">
        <header id="header">
          <a href="/" class="language language-is">ICELANDIC</a>
            <div class="border"></div>
            <strong class="logo logo-en"><a href="#">ATTENTUS mannauour &amp; raogjof</a></strong>
            <div class="burger">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div style="clear:both;"></div>
            <nav id="nav">
              <ul>
                <li><a href="#header">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#employes">Team</a></li>
                <li><a href="#attentus">About</a></li>
                <li><a href="#contact">Contact us</a></li>
              </ul>
            </nav>
        </header>
        <div class="intro" id="intro" >
          <strong>We are <span>ATTENTUS</span></strong>
          <span>– results through people</span>
        </div>
        <div id="content">
            <section id="services" class="services">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_service], :english, e: format_en(@editable[:header_service]), type: 'textarea' %></span></h1>
              <div class="four-columns">
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico1.png", alt: "Image description", width: "56", height: "67" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_1], :english, e: format_en(@editable[:service_title_1]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_1], :english, e: format_en(@editable[:service_text_1]), type: 'textarea' %></p>
                  </div>
                  <a href="#forHireModal" role="button" class="btn-more" data-toggle="modal">More</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico2.png", alt: "Image description", width: "58", height: "71" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_2], :english, e: format_en(@editable[:service_title_2]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_2], :english, e: format_en(@editable[:service_text_2]), type: 'textarea' %></p>
                  </div>
                  <a href="#serviceModal" role="button" class="btn-more" data-toggle="modal">More</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico3.png", alt: "Image description", width: "71", height: "72" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_3], :english, e: format_en(@editable[:service_title_3]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_3], :english, e: format_en(@editable[:service_text_3]), type: 'textarea' %></p>
                  </div>
                  <a href="#trainingModal" role="button" class="btn-more" data-toggle="modal">More</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico4.png", alt: "Image description", width: "71", height: "72" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_4], :english, e: format_en(@editable[:service_title_4]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_4], :english, e: format_en(@editable[:service_text_4]), type: 'textarea' %></p>
                  </div>
                  <a href="#analysisModal" role="button" class="btn-more" data-toggle="modal">More</a>
                </article>
              </div>
              <blockquote>
                <q>Brilliant! Attentus has transformed human resources at Lýsi and implemented new tools that help us increase the efficiency of our business operations.</q>
                <cite><a href="#">Katrín Pétursdóttir,</a> CEO, Lýsi</cite>
              </blockquote>
            </section>

            <section id="attentus" class="attentus">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_about], :english, e: format_en(@editable[:header_about]), type: 'textarea' %></span></h1>
              <p><%= editable @editable[:about_text], :english, e: format_en(@editable[:about_text]), type: 'textarea' %></p>
            </section>

            <section id="employes" class="employes">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_staff], :english, e: format_en(@editable[:header_staff]), type: 'textarea' %></span></h1>
              <ul class="staffs">
                <li>
                  <div class="img-wrap"><a href="#arnyModal" data-toggle="modal"><%= image_tag "img2.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#arnyModal" data-toggle="modal">Árný Elíasdóttir</a></strong>
                  <span>Consultant/Partner</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#berglindModal" data-toggle="modal"><%= image_tag "berglind.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#berglindModal" data-toggle="modal">Berglind Björk Hreinsdóttir</a></strong>
                  <span>Consultant</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#gudridurModal" data-toggle="modal"><%= image_tag "img4.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#gudridurModal" data-toggle="modal">Guðríður Sigurðardóttir</a></strong>
                  <span>Consultant/Partner</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#ingaModal" data-toggle="modal"><%= image_tag "img5.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#ingaModal" data-toggle="modal">Inga Björg Hjaltadóttir</a></strong>
                  <span>Consultant/Partner</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#ingunnModal" data-toggle="modal"><%= image_tag "img6.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#ingunnModal" data-toggle="modal">Ingunn Björk Vilhjálmsdóttir</a></strong>
                  <span>Consultant/Partner</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sirraModal" data-toggle="modal"><%= image_tag "sirra.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sirraModal" data-toggle="modal">Sigríður Guðmundsdóttir</a></strong>
                  <span>Consultant</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sigridurModal" data-toggle="modal"><%= image_tag "sigridur.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sigridurModal" data-toggle="modal">Sigríður Þorgeirsdóttir</a></strong>
                  <span>Consultant</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sigrunModal" data-toggle="modal"><%= image_tag "img7.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sigrunModal" data-toggle="modal">Sigrún Þorleifsdóttir</a></strong>
                  <span>Consultant/Partner</span>
                </li>
              </ul>
            </section>
            <section class="contact" id="contact" style="margin-bottom:0px !important;">

              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_contact], :english, e: format_en(@editable[:header_contact]), type: 'textarea' %></span></h1>
              <div class="holder">
                <div class="owners">
                  <h2>Partners</h2>
                  <ul>
                    <li>
                      <span><strong>Árný Elíasdóttir,</strong></span>
                      <span><a href="mailto:&#097;&#114;&#110;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#097;&#114;&#110;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | Tel. +354 864 4452</span>
                    </li>
                    <li>
                      <span><strong>Guðríður Sigurðardóttir,</strong></span>
                      <span><a href="mailto:&#103;&#117;&#114;&#114;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#103;&#117;&#114;&#114;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | Tel. +354 868 2627</span>
                    </li>
                    <li>
                      <span><strong>Ingunn Björk Vilhjálmsdóttir,</strong></span>
                      <span><a href="mailto:&#105;&#110;&#103;&#117;&#110;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#105;&#110;&#103;&#117;&#110;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | Tel. +354 899 9163</span>
                    </li>
                    <li>
                      <span><strong>Inga Björg Hjaltadóttir,</strong></span>
                      <span><a href="mailto:&#105;&#110;&#103;&#097;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#105;&#110;&#103;&#097;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | Tel. +354 863 8804</span>
                    </li>
                    <li>
                      <span><strong>Sigrún Þorleifsdóttir,</strong></span>
                      <span><a href="mailto:&#115;&#105;&#103;&#114;&#117;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#115;&#105;&#103;&#114;&#117;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | Tel. +354 899 6066</span>
                    </li>
                  </ul>
                </div>
                <div class="offices">
                  <h2>Offices</h2>
                  <h3>Attentus</h3>
                  <address>Smáratorg 3, Turninn, 14th floor<br/>201 Kópavogi</address>
                  <span class="phone" style="margin-bottom:0px !important;" >+354 519 75 10</span>
                  <span class="phone">Kt. 630811-0580</span>
                  <a class="email" href="mailto:&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a>
                </div>
                <div class="follow-us">
                  <h2>Follow us</h2>
                  <ul class="social-networks">
                    <li class="twitter"><a href="https://twitter.com/attentusradgjof">Twitter</a></li>
                    <li class="facebook"><a href="https://www.facebook.com/attentusradgjof">facebook</a></li>
                  </ul>
                </div>
              </div>
            </section>
        </div>
        <footer id="footer">
          <a href="#" class="logo1 logo1-en">ATTENTUS mannauour &amp; raogjof</a>
        </footer>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.editable').editable({
    showbuttons: 'bottom'
  });
});
</script>
