<% content_for :modals do %>
<!-- Modals -->
<%= render partial: 'for_hire' %>
<%= render partial: 'service' %>
<%= render partial: 'training' %>
<%= render partial: 'analysis' %>
<%= render partial: 'staff' %>
<% end %>
<!-- Front page content -->
<div id="wrapper">
  <div class="w1">
    <div class="w2">
      <div class="w3">
        <header id="header">
            <a href="/en" class="language">ENGLISH</a>
            <div class="border"></div>
            <strong class="logo"><a href="#">ATTENTUS mannauour &amp; raogjof</a></strong>
            <div class="burger">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div style="clear:both;"></div>
            <nav id="nav">
              <ul>
                <li><a href="#header">Heim</a></li>
                <li><a href="#services">Þjónusta</a></li>

                <% if @feed %>
                  <li><a href="#new">Nýtt</a></li>
                <% end %>
                <li><a href="#employes">Starfsfólk</a></li>
                <li><a href="#attentus">Um okkur</a></li>
                <li><a href="#contact">Hafa samband</a></li>
              </ul>
            </nav>
        </header>
        <div class="intro" id="intro" >
          <strong>Við erum <span>ATTENTUS</span></strong>
          <span>– Árangur er í fólkinu falinn</span>
        </div>
        <div id="content">
            <section id="services" class="services">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_service], :icelandic, e: format_ice(@editable[:header_service]), type: 'textarea' %></span></h1>
              <div class="four-columns">
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico1.png", alt: "Image description", width: "56", height: "67" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_1], :icelandic, e: format_ice(@editable[:service_title_1]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_1], :icelandic, e: format_ice(@editable[:service_text_1]), type: 'textarea' %></p>
                  </div>
                  <a href="#forHireModal" role="button" class="btn-more" data-toggle="modal">Lesa meira</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico2.png", alt: "Image description", width: "58", height: "71" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_2], :icelandic, e: format_ice(@editable[:service_title_2]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_2], :icelandic, e: format_ice(@editable[:service_text_2]), type: 'textarea' %></p>
                  </div>
                  <a href="#serviceModal" role="button" class="btn-more" data-toggle="modal">Lesa meira</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico3.png", alt: "Image description", width: "71", height: "72" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_3], :icelandic, e: format_ice(@editable[:service_title_3]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_3], :icelandic, e: format_ice(@editable[:service_text_3]), type: 'textarea' %></p>
                  </div>
                  <a href="#trainingModal" role="button" class="btn-more" data-toggle="modal">Lesa meira</a>
                </article>
                <article class="col">
                  <div class="image-holder">
                    <div class="img-wrap">
                      <%= image_tag "ico4.png", alt: "Image description", width: "71", height: "72" %>
                    </div>
                  </div>
                  <div class="container">
                    <h2><%= editable @editable[:service_title_4], :icelandic, e: format_ice(@editable[:service_title_4]), type: 'textarea' %></h2>
                    <p><%= editable @editable[:service_text_4], :icelandic, e: format_ice(@editable[:service_text_4]), type: 'textarea' %></p>
                  </div>
                  <a href="#analysisModal" role="button" class="btn-more" data-toggle="modal">Lesa meira</a>
                </article>
              </div>
              <blockquote>
                <q>Tær snilld.  Attentus hefur opnar nýjar víddir <br/> í mannauðsmálum hjá Lýsi og færir okkur ný tæki <br/> sem nýtast frábærlega í stjórnun.</q>
                <cite><a href="#">Katrín Pétursdóttir,</a> forstjóri Lýsis</cite>
              </blockquote>
            </section>

            <% if @feed %>
            <section id="new" class="attentus feed">
              <div class="border add"></div>
              <!--<h1><span><%= editable @editable[:header_about], :icelandic, e: format_ice(@editable[:header_about]), type: 'textarea' %></span></h1>-->
              <h1>
                <span>Nýtt</span>
              </h1>
              <div class="title">
                <%= @feed.title%>
              </div>
              <div class="published">
                <span>
                  <%= @feed.published.strftime('%e')%>.
                </span>
                <span>
                  <%=ICELANDIC_MONTHS[@feed.published.strftime('%m').to_i - 1 ]%>
                </span>
                <span>
                  <%= @feed.published.strftime('%Y')%>
                </span>
              </div>
              <div class="content">
                <div class="text">
                  <% words = @feed.content.split %>
                  <% if words.count > 100 %>
                    <%= words.slice(0,100).join(' ').html_safe%> ...
                  <% else %>
                    <%= @feed.content.html_safe%>
                  <% end %>
                </div>
                <div class="right-arrow">
                  <img src="<%=asset_path('right_arrow.png')%>"/>
                  <a href="<%=@feed_host%>">
                    <span>LESA ÁFRAM</span>
                  </a>
                </div>
              </div>
              <div style="clear:both;"></div>
            </section>
            <% end %>

            <section id="attentus" class="attentus">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_about], :icelandic, e: format_ice(@editable[:header_about]), type: 'textarea' %></span></h1>
              <p><%= editable @editable[:about_text], :icelandic, e: format_ice(@editable[:about_text]), type: 'textarea' %></p>
            </section>

            <section id="employes" class="employes">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_staff], :icelandic, e: format_ice(@editable[:header_staff]), type: 'textarea' %></span></h1>
              <ul class="staffs">
                <li>
                  <div class="img-wrap"><a href="#arnyModal" data-toggle="modal"><%= image_tag "img2.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#arnyModal" data-toggle="modal">Árný Elíasdóttir</a></strong>
                  <span>Ráðgjafi og eigandi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#berglindModal" data-toggle="modal"><%= image_tag "berglind.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#berglindModal" data-toggle="modal">Berglind Björk Hreinsdóttir</a></strong>
                  <span>Ráðgjafi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#gudridurModal" data-toggle="modal"><%= image_tag "img4.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#gudridurModal" data-toggle="modal">Guðríður Sigurðardóttir</a></strong>
                  <span>Ráðgjafi og eigandi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#ingaModal" data-toggle="modal"><%= image_tag "img5.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#ingaModal" data-toggle="modal">Inga Björg Hjaltadóttir</a></strong>
                  <span>Ráðgjafi og eigandi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#ingunnModal" data-toggle="modal"><%= image_tag "img6.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#ingunnModal" data-toggle="modal">Ingunn Björk Vilhjálmsdóttir</a></strong>
                  <span>Ráðgjafi og eigandi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sirraModal" data-toggle="modal"><%= image_tag "sirra.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sirraModal" data-toggle="modal">Sigríður Guðmundsdóttir</a></strong>
                  <span>Ráðgjafi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sigridurModal" data-toggle="modal"><%= image_tag "sigridur.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sigridurModal" data-toggle="modal">Sigríður Þorgeirsdóttir</a></strong>
                  <span>Ráðgjafi</span>
                </li>
                <li>
                  <div class="img-wrap"><a href="#sigrunModal" data-toggle="modal"><%= image_tag "img7.jpg", alt: "Image description", width: "212", height: "215" %></a></div>
                  <strong><a href="#sigrunModal" data-toggle="modal">Sigrún Þorleifsdóttir</a></strong>
                  <span>Ráðgjafi og eigandi</span>
                </li>
              </ul>
            </section>
            <section class="contact" id="contact" style="margin-bottom:0px !important;">
              <div class="border add"></div>
              <h1><span><%= editable @editable[:header_contact], :icelandic, e: format_ice(@editable[:header_contact]), type: 'textarea' %></span></h1>
              <div class="holder">
                <div class="owners">
                  <h2>Eigendur</h2>
                  <ul>
                    <li>
                      <span><strong>Árný Elíasdóttir,</strong></span>
                      <span><a href="mailto:&#097;&#114;&#110;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#097;&#114;&#110;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | s. 864 4452</span>
                    </li>
                    <li>
                      <span><strong>Guðríður Sigurðardóttir,</strong></span>
                      <span><a href="mailto:&#103;&#117;&#114;&#114;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#103;&#117;&#114;&#114;&#121;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | s. 868 2627</span>
                    </li>
                    <li>
                      <span><strong>Ingunn Björk Vilhjálmsdóttir,</strong></span>
                      <span><a href="mailto:&#105;&#110;&#103;&#117;&#110;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#105;&#110;&#103;&#117;&#110;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | s. 899 9163</span>
                    </li>
                    <li>
                      <span><strong>Inga Björg Hjaltadóttir,</strong></span>
                      <span><a href="mailto:&#105;&#110;&#103;&#097;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#105;&#110;&#103;&#097;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | s. 863 8804</span>
                    </li>
                    <li>
                      <span><strong>Sigrún Þorleifsdóttir,</strong></span>
                      <span><a href="mailto:&#115;&#105;&#103;&#114;&#117;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#115;&#105;&#103;&#114;&#117;&#110;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a> | s. 899 6066</span>
                    </li>
                  </ul>
                </div>
                <div class="offices">
                  <h2>Skrifstofur</h2>
                  <h3>Attentus mannauður og ráðgjöf</h3>
                  <address>Smáratorg 3, 14. hæð<br/>201 Kópavogi</address>
                  <span class="phone" style="margin-bottom:0px !important;" >+354 519 75 10</span>
                  <span class="phone">Kt. 630811-0580</span>
                  <a class="email" href="mailto:&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;">&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#064;&#097;&#116;&#116;&#101;&#110;&#116;&#117;&#115;&#046;&#105;&#115;</a>
                </div>
                <div class="follow-us">
                  <h2>Fylgstu með okkur!</h2>
                  <ul class="social-networks">
                    <li class="twitter"><a href="https://twitter.com/attentusradgjof">Twitter</a></li>
                    <li class="facebook"><a href="https://www.facebook.com/attentusradgjof">facebook</a></li>
                  </ul>
                </div>
              </div>
            </section>
        </div>
        <footer id="footer">
          <a href="#" class="logo1">ATTENTUS mannauour &amp; raogjof</a>
        </footer>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
  $('.editable').editable({
    showbuttons: 'bottom'
  });
});
</script>
