/* Image style */
#scrollUp {
	bottom: 25px;
	right: 25px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
  background: url(<%= asset_path 'top.png' %>) no-repeat;
}
@media screen and (max-device-width: 640px){
  /* Image style */
  #scrollUp {
    bottom: 25px;
    right: 25px;
    height: 88px;  /* Height of image */
    width: 88px; /* Width of image */
    background: url(<%= asset_path 'top_88x88.png' %>) no-repeat;
  }
}

