@media screen and (max-device-width: 640px){
  .modal {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    width: auto;
    margin: 0;
    max-height:99% !important;
  }
  .modal-body{ max-height:100% !important;}

  .modal-footer .btn{
    padding:12px 24px !important;
    font-size:25px;
    font-weight:bold;

  }
  .modal.fade {
    top: -100px;
  }
  .modal.fade.in {
    top: 20px;
  }
}
