// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
q {
  quotes: "„" "“";
}

a.editable-pre-wrapped {
  white-space: pre-wrap;
  color: #696765;
  text-decoration: none;
}

a.editable {
  white-space: pre-wrap;
  color: #696765;
  text-decoration: none;
  border: none;
}

.editable-click, a.editable-click, a.editable-click:hover {
  text-decoration: none;
  border: none;
}

/* Override bootstrap */
a {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}

.modal.fade {
  -webkit-transition: opacity .3s linear, top .3s ease-out;
  -moz-transition: opacity .3s linear, top .3s ease-out;
  -o-transition: opacity .3s linear, top .3s ease-out;
  transition: opacity .3s linear, top .3s ease-out;
}

.modal {
  max-height: 540px;
  overflow:hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background: whitesmoke;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  box-shadow: 0 3px 7px rgba(0,0,0,0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  outline: none;
}

.modal-body {
  background: whitesmoke;
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
  background: white;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  margin-top:0px;
  text-align: right;
  background-color: whitesmoke;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
