@media (max-width: 1199px){
  .employes{
    padding:0px !important;
  }
  .intro{
    top:25% !important;
  }
  .employes .border.add{
    margin-left:0px !important;
    margin-right:0px !important;
    margin-top:0px !important;
    margin-bottom:60px !important;
  }
  .attentus{
    padding-bottom:30px !important;
  }
  .services{
    padding-top:0px !important;
    overflow:visible !important;
    padding-bottom:30px !important;
  }
  .services .border.add,
  .attentus .border.add{
    margin-bottom:50px !important;
  }
  .contact{
    padding-left:0px !important;
    padding-right:0px !important;
    padding-top:0px !important;
    padding-bottom:30px !important
  }
  .contact .border.add{
    margin-left:0px !important;
    margin-right:0px !important;
    margin-bottom:60px !important;
  }
  section{
    margin-bottom:50px !important
  }
}
@media (min-width: 1200px) {

  .attentus {
    padding-top:47px !important;
    padding-bottom:60px !important;
  }
  section{
    margin-bottom:150px !important
  }
  .border.add{
    display:none;
  }
  .contact .holder{
    width:920px !important;
    margin-left:100px !important;
  }
  .employes .staffs{
    margin-left:70px !important;
  }
}

/*
@media (min-width: 768px) and (max-width: 991px) and (orientation: portrait){
  body{min-width:800px !important;}
  .w3{width:750px !important;}
 
  #nav {
    padding-top:0px !important;
    display:none;
  }
  #nav li {
    display:block !important;
    margin-top:5px !important;
  }
  #nav a:after {
    bottom:0px !important;
  }
  #header{
  	position: relative !important;
    width:inherit !important;
  }
  #header .burger{
    cursor:pointer;
    float:right !important;
    margin-right:75px !important;
    margin-top:30px !important;
    display:block !important;
  }
  #header .burger .icon-bar{
    display:block !important;
    background: #de6a31 !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 4px !important;
    margin-top:2px !important;
  }

  .intro{ padding-left:12px !important; }
  .intro>span{margin-left:168px !important;}

  .services{width:inherit !important;}
  .services .four-columns{
    width:inherit !important;
    margin-bottom:10px !important;
  }
  .services .four-columns .col .container{padding-bottom:10px !important;}
  .services .four-columns .col{
    width:525px !important;
    margin-right:25px !important;
    margin-left:38px !important;
    margin-bottom:25px !important;
  }

  .services .image-holder{
    padding:41px 35px 44px 205px !important;
    background: url(<%= asset_path 'sprite2.png' %>) no-repeat 147px -144px !important;
  }
  .services blockquote{
    font-size:2em !important;
  }

  .employes .staffs{
    margin-left:70px !important;
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .employes .staffs li{
    width:275px !important;
    margin-left:10px !important;
  }
  .employes .staffs .img-wrap{
    width:270px !important;
    height:267px !important;
    background: url(<%= asset_path 'employe-shadow-large.png' %>) no-repeat 0 0 !important;

  }
  .employes .staffs img{
    width:260px !important;
    height:263px !important;
  }

  .contact .owners ul{padding-left:0px !important;}
  .contact .owners,
  .contact .offices{width:260px !important;}
  .contact .offices h2{margin-left:30px !important;}
  .contact .follow-us h2{
    padding-left:63px !important;
    background-position:-208px -175px !important;
  }
  .contact .follow-us{
    float:left !important;
    margin-top:25px !important;
  }


}


*/
/*@media (min-width: 768px) and (max-width: 991px){*/
@media (min-width: 768px) and (max-width: 991px){
  body{min-width:800px !important;}
  .w3{width:750px !important;}
 
  #nav {
    padding-top:0px !important;
    display:none;
  }
  #nav li {
    display:block !important;
    margin-top:5px !important;
  }
  #nav a:after {
    bottom:0px !important;
  }
  #header{
    position: relative !important;
    width:inherit !important;
  }
  #header .burger{
    cursor:pointer;
    float:right !important;
    margin-right:75px !important;
    margin-top:30px !important;
    display:block !important;
  }
  #header .burger .icon-bar{
    display:block !important;
    background: #de6a31 !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 4px !important;
    margin-top:2px !important;
  }

  .intro{ padding-left:12px !important; }
  .intro>span{margin-left:168px !important;}

  .services{width:inherit !important;}
  .services .four-columns{
    width:inherit !important;
    margin-bottom:10px !important;
  }
/*  .services .four-columns .col p{text-align:justify !important;}*/
  .services .four-columns .col .container{padding-bottom:10px !important;}
  .services .four-columns .col{
    margin-right:25px !important;
    margin-left:38px !important;
    margin-bottom:25px !important;
  }
  .services .image-holder{
    background: url(<%= asset_path 'sprite.png' %>) no-repeat 0 -144px !important;
  }
  .services blockquote{
    font-size:2em !important;
  }

  .employes .staffs{
    margin-left:70px !important;
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .employes .staffs li{
    width:275px !important;
    margin-left:10px !important;
  }
  .employes .staffs .img-wrap{
    width:270px !important;
    height:267px !important;
    background: url(<%= asset_path 'employe-shadow-large.png' %>) no-repeat 0 0 !important;

  }
  .employes .staffs img{
    width:260px !important;
    height:263px !important;
  }

  .contact .owners ul{padding-left:0px !important;}
  .contact .owners,
  .contact .offices{width:260px !important;}
  .contact .offices h2{margin-left:30px !important;}
  .contact .follow-us h2{
    padding-left:63px !important;
    background-position:-208px -175px !important;
  }

  .contact .follow-us{
    float:left !important;
    margin-top:25px !important;
  }

  .contact .holder{
    margin-left:95px !important;
  }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  /********************/
  /***--- LAYOUT ---***/
  /********************/
  body{min-width:900px !important;}
  .w3{width:800px !important;}

  /*************************/
  /***--- NAVIGATION ---****/
  /*************************/
  #nav {
    padding-top:0px !important;
    display:none;
  }
  #nav li {
    display:block !important;
    margin-top:5px !important;
  }
  #nav a:after {
    bottom:0px !important;
  }
  #header{
  	position: relative !important;
    width:inherit !important;
  }
  #header .burger{
    cursor:pointer;
    float:right !important;
    margin-right:75px !important;
    margin-top:30px !important;
    display:block !important;
  }
  #header .burger .icon-bar{
    display:block !important;
    background: #de6a31 !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 4px !important;
    margin-top:2px !important;
  }

  /***********************/
  /***--- Attentus ---****/
  /***********************/
  
  .attentus .border.add{
    margin-bottom:50px;
  }

  /********************/
  /***--- Intro ---****/
  /********************/
  .intro{ padding-left:63px !important; }
  .intro>span{margin-left:170px !important;}

  /***********************/
  /***--- Services ---****/
  /***********************/
  .services{width:inherit !important;}
  .services .four-columns{
    width:inherit !important;
    margin-bottom:10px !important;
  }

/*  .services .four-columns .col p{text-align:justify !important;}*/
  .services .four-columns .col .container{padding-bottom:10px !important;}
  .services .four-columns .col{
    margin-right:0px !important;
    margin-left:63px !important;
    margin-bottom:25px !important;
  }
  .services .image-holder{
    background: url(<%= asset_path 'sprite.png' %>) no-repeat 0 -144px !important;
  }
  .services blockquote{
    font-size:2em !important;
  }

  /********************/
  /***--- Staff ---****/
  /********************/

  .employes .staffs{
    padding-left:0px !important;
    padding-right:0px !important;
    margin-left:70px !important;
  }
  .employes .staffs li{
    width:275px !important;
    margin-left:31px !important;
  }
  .employes .staffs .img-wrap{
    width:270px !important;
    height:267px !important;
    background: url(<%= asset_path 'employe-shadow-large.png' %>) no-repeat 0 0 !important;

  }
  .employes .staffs img{
    width:260px !important;
    height:263px !important;
  }
  /********************/
  /***--- Staff ---****/
  /********************/
  .contact .owners{
    width:285px !important;
    margin-right:30px !important;
  }
  .contact .offices{width:285px !important;}
  .contact .follow-us{
    float:left !important;
    margin-top:25px !important;
  }
  .contact .holder{
    margin-left:100px !important;
  }


}

/*@media screen and (max-device-width: 480px) and (orientation: portrait){*/
@media screen and (max-device-width: 640px){
/*@media(max-width: 767px) {*/
  /********************/
  /***--- LAYOUT ---***/
  /********************/
  body{min-width:750px !important;}
  
  .w3{width:700px !important;}


  /*************************/
  /***--- NAVIGATION ---****/
  /*************************/
  #nav {
    padding:0px 0px 0px 0px !important;
    display:none;
  }
/*  .language{display:none !important;}*/
  #nav li {
    display:block !important;
    margin-top:5px !important;
  }
  #nav a:after {
    bottom:0px !important;
  }
  #header{
  	position: relative !important;
    width:inherit !important;
  }
  #header .burger{
    cursor:pointer;
    float:right !important;
    margin-right:75px !important;
    margin-top:20px !important;
    display:block !important;
  }
  #header .burger .icon-bar{
    display:block !important;
    background: #de6a31 !important;
    -webkit-border-radius: none !important;
    -moz-border-radius: none !important;
    border-radius: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    width: 30px !important;
    height: 4px !important;
    margin-top:2px !important;
  }

  /********************/
  /***--- Intro ---****/
  /********************/
  .intro{ padding-left:0px !important; }
  .intro strong{ font-size:90px !important; }
  .intro>span{
    font-size:50px !important;
    margin-left:80px !important;
  }

  /***********************/
  /***--- Services ---****/
  /***********************/
  .services{width:inherit !important;}
  .services .four-columns{
    width:inherit !important;
    margin-bottom:10px !important;
  }
/*  .services .four-columns .col p{text-align:justify !important;}*/
  .services .four-columns .col a{margin-left:120px !important;}
  .services .four-columns .col .container{padding-bottom:10px !important;}
  .services .four-columns .col{
    margin-right:25px !important;
    margin-left:38px !important;
    margin-bottom:25px !important;
    width:600px !important;
  }
  .services .image-holder{
    padding:41px 70px 44px 178px !important;
    background: url(<%= asset_path 'sprite2.png' %>) no-repeat 123px -144px !important;
  }
  .services .container{
    width:480px !important;
    height:100% !important;
  }
  .services h2{
    font-size:38px !important;
  }
  .services p{
    font-size:25px !important;

  }
  .services blockquote{
    font-size:28px !important;
  }

  /*****************************/
  /***--- About Attentus ---****/
  /*****************************/
  .attentus {
    /*
    padding-top:47px !important;
    padding-left:0px !important;
    padding-right:0px !important;
    */
  }
  .attentus p{
    font-size:25px !important;
    text-align:justify !important;
    /*
    width:440px !important;
    margin-left:25px !important;
    */
  }
  /********************/
  /***--- Staff ---****/
  /********************/
  .employes .staffs{
    margin-left:70px !important;
    padding-left:0px !important;
    padding-right:0px !important;
  }
  .employes .staffs li{
    width:275px !important;
    margin-left:5px !important;
  }
  .employes .staffs .img-wrap{
    width:270px !important;
    height:267px !important;
    background: url(<%= asset_path 'employe-shadow-large.png' %>) no-repeat 0 0 !important;

  }
  .employes .staffs strong{
    font-size:1.4em !important;
  }

  .employes .staffs img{
    width:260px !important;
    height:263px !important;
  }
  /**********************/
  /***--- contact ---****/
  /**********************/

  .contact .owners{
    width:276px !important;
  }

  .contact .follow-us{
    float:left !important;
    margin-top:25px !important;
  }

  .contact .holder{
    margin-left:75px !important;
    padding-top:0px !important;
  }

}
