<div id="wrapper">
  <div class="w1">
    <div class="w2">
      <div class="w3">
        <header id="header">
            <div class="border"></div>
            <strong class="logo"><a href="#">ATTENTUS mannauour &amp; raogjof</a></strong>
            <div class="burger">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div style="clear:both;"></div>
            <nav id="nav">
              <ul>
                <li><a href="/">Heim</a></li>
                <li><a href="/#services">Þjónusta</a></li>

                <% if @feed %>
                  <li><a href="/#new">Nýtt</a></li>
                <% end %>
                <li><a href="/#employes">Starfsfólk</a></li>
                <li><a href="/#attentus">Um okkur</a></li>
                <li><a href="/#contact">Hafa samband</a></li>
              </ul>
            </nav>
        </header>

        <div id="content">
          <section id="services" class="services" style="padding-top:200px !important; padding-bottom:20px !important;">
            <div class="border add"></div>
            <h1>LOGIN</h1>
            <%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
              <p>
                <%= f.label :login %><br />
                <%= f.text_field :login %>
              </p>
              <p>
                <%= f.label :password %><br />
                <%= f.password_field :password %>
              </p>
              <p><%= f.submit "Submit" %></p>
            <% end %>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
