<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Attentus</title>
  <%= javascript_include_tag "application" %>
	<!--[if IE]>
  <%= javascript_include_tag "application-ie" %>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>

  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/jqueryui-editable/css/jqueryui-editable.css" rel="stylesheet"/>
  <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />

  <link rel="shortcut icon" href="<%=asset_path 'favicon.ico'%>">

  <meta name="viewport" content="user-scalable=yes" />

  <%= stylesheet_link_tag    "application", media: "all"  %>
  <%= csrf_meta_tags %>
</head>

<%= yield :modals %>

<body>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48273359-1', 'attentus.is');
  ga('send', 'pageview');

</script>

</body>
</html>
